.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}

.container {
    overflow: hidden;
    padding: 10px;
    margin-top: 1em;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 1350px;
    --card-height: 600px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

.descritivo {
    font-size: 26px;
    text-align: justify;
    hyphens: auto;
}

.profissional,
.conselho {
    color: black;
}

i {
    font-size: 23px;
}

/*botões das redes sociais*/
section.profissionais .btn-social button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: whitesmoke;
    background-color: #000000;
    font-size: 1px;
    cursor: pointer;
    transition: .2s;
}

/*botao das redes sociais mudando de cor*/
section.profissionais .btn-social button:hover {
    color: black;
    background-color: whitesmoke;
}

/*Slides configuracao*/
.card-carousel .card {
    background: whitesmoke;
    width: 80%;
    text-align: center;
    padding: 1em;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    color: #31689f;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.highlight {
    filter: brightness(1)
}

.card:nth-of-type(1) .image-container {
    background-image: url("images/dr.icaro.jpg");
}

.card:nth-of-type(2) .image-container {
    background-image: url("images/Dr.Spider.jpg")
}

.card:nth-of-type(3) .image-container {
    background-image: url("images/felypeAndrade.jpg")
}

.card:nth-of-type(4) .image-container {
    background-image: url("images/dr.Liamara.jpg")
}

.card:nth-of-type(5) .image-container {
    background-image: url("images/Dr.Karen.jpg")
}

/*Imagem fotos*/
.image-container {
    width: 10em;
    height: 10em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);

}

/*Circulo ao redor da imagem*/
.image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0, 0, 0, .1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
}

h2 a {
    color: #f5b916
}

@media (max-width: 768px) {
    .card-carousel {
        --card-width: 100%;
        --card-height: 930px;
        --carousel-min-width: 300px;
    }

    .image-container {
        width: 7em;
        height: 7em;
    }

    .descritivo {
        font-size: 20px;
    }

    .profissional {
        font-size: 20px;
    }
}