* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

/* Para dividir na vertical, use a propriedade display: flex; e align-items: stretch */
header {
    display: flex;
    flex-direction: column;
    /* Faz com que os elementos sejam dispostos verticalmente */
    align-items: stretch;
    /* Opcional, estica os elementos verticalmente */
}

.headerTop{
    padding: 20px 4%;
    background-color: #31689f;
}

.headerTop a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.headerBottom{
    padding: 20px 4%;
    border-bottom: 2px solid #31689f;
}

.container {
    display: flex;
    flex-direction: row;
    /* imagem e texto lado a lado */
    justify-content: center;
    /* centraliza na horizontal */
    align-items: center;
    /* centraliza na vertical */
    padding: 30px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    /* permite quebra em telas menores */
}

.img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

p {
    font-size: 23px;
    text-align: justify;
    hyphens: auto;
}

h1 {
    padding: 10px;
    text-align: center;
    color: #31689f;
}

i {
    font-size: 23px;
}

.btn-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.btn-social button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: whitesmoke;
    background-color: #000000;
    font-size: 1px;
    cursor: pointer;
    transition: .2s;
    margin: 5px;
}

.btn-social button:hover {
    color: black;
    background-color: whitesmoke;
}

footer {
    border-top: #31689f solid 2px;
}

footer .container {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

footer a {
    text-decoration: none;
}

footer p {
    color: black;
}

footer img {
    width: 50%;
}

@media (max-width: 1130px) {

    footer .btn-voltar {
        display: none;
    }

    .container {
        flex-direction: column;
        /* imagem e texto um embaixo do outro */
        padding: 20px;
    }

    .img img {
        width: 80vw;
        height: auto;
        max-width: 320px;
    }

    .linkName p {
        font-size: 13px;
    }

    footer {
        border-top: #31689f solid 2px;
    }

    footer .container {
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
        text-align: center
    }
}